body {
  background-color: #12131a;
  color: white;
  margin: 0;


  font-family: 'Roboto', sans-serif;
}


.hero {
  height: 90vh;
  background-image: url('https://afjv.com/2025/09/250908-fortnite-global-championship-2025.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  color: gold;
  text-shadow:
    3px 3px 0 white,
    -3px -3px 0 white,
    3px -3px 0 white,
    -3px 3px 0 white;

  position: relative;
}


h1,
h2 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif; 
  color: gold;
  text-shadow:
    2px 2px 0 white,
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white;
}


presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


img {
  width: 100%;
  height: auto;
  display: block;
}
