body {
  background-color: #12131a;
  color: white;
  margin: 0;
}


.hero {
  height: 95vh;
  background-image: url('https://afjv.com/2025/09/250908-fortnite-global-championship-2025.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.75rem;
  color: gold;
  text-shadow:
    2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black;
}


.hero h1,
.hero h2,
h1,
h2 {
  text-align: center;
}


#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  position: relative;
}


.hero h1,
.hero h2 {
  position: relative;
}
